
@{
    ViewBag.Title = "GetInfor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Student Controller, View GetInfor</h2>

@using (Html.BeginForm())
{
    <input type="text" name="HoTen" />
    <input type="text" name="Tuoi"/>
    <input type="text" name="Lop"/>
    <input type="submit" value="Hien thi thong tin"/>

}
<h3>
    
    Họ và tên:@ViewBag.hovaten <br>
    tuổi:@ViewBag.tuoi <br>
    lop: @ViewBag.lop <br >
    

</h3>
